* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'poppins', sans-serif;

}

/* ===== Sidebar ===== */
.sidebar {
    background-color: #000000;
    color: white;
    width: 270px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* -- logo -- */
.sidebar .logo {
    position: absolute;
    top: 50px;
    font-size: 29px;
}

.sidebar .logo a {
    color: #EEEEEE;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
}

.sidebar .logo a span {
    font-family: 'Clicker Script', cursive;
    font-size: 35px;
}

/* -- navbar -- */
.sidebar .nav {
    margin-top: 50px;
}

.sidebar .nav li {
    margin-bottom: 20px;
    display: block;
}

.sidebar .nav li a {
    color: #EEEEEE;
    display: block;
    border-bottom: 1px solid #cccccccb;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.sidebar .nav li a.active {
    color: #F44336;
}

.sidebar .nav li a:hover {
    transform: scale(1.2);
}

/* -- footer -- */
.sidebar footer {
    position: absolute;
    bottom: 30px;
    font-size: 10px;
}
/* ===== Sidebar end ===== */

/* ===== Content layout ===== */
.content {
    background-color: #121212;
    color: white;
    min-height: 100vh;
    display: block;
    position: absolute;
    flex: 1;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
}

/* ===== Home ===== */
.home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    gap: 50px;
}

/* -- img -- */
.home-content .home-img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: bo;
    border-radius: 50%;
}

/* -- h2, h3, p -- */
.home-content .text-home span {
    font-family: 'Clicker Script', sans-serif;
    color: #F44336;
}

.home-content .text-home p {
    color: #ccc;
    max-width: 500px;
}

/* -- icon -- */
.text-home .media {
    letter-spacing: 2px;
}

.text-home .media a {
    color: #ccc;
    transition: all 0.3s ease;
}

.text-home .media a:hover {
    color: #F44336;
}

/* -- btn -- */
.text-home .home-btn i {
    background-color: #F44336;
    color: #ccc;
    padding: 10px;
    border-radius: 50%;
    margin-top: 20px;
    transition: all 0.4s ease;
}

.text-home .home-btn i:hover {
    transform: scale(1.2);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
}
/* ===== Home end ===== */

/* ===== About ===== */
.about-content{
    padding: 30px;
}

/* -- h1 -- */
.about-content h1 {
    margin-bottom: 50px;
}

.about-content h1 span {
    color: #F44336;
}

/* -- first -- */
.about-content .first {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    width: 100%;
    gap: 30px;
}

.about-content .first .about-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.about-content .first .about-info p{
    max-width: 900px;
    color: #ccc;
}
/* ===== About end ===== */

/* ===== Gallery ===== */
.gallery-content {
    padding: 50px;
}

/* -- container -- */
.gallery-content .card-g-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    gap: 20px;
}

/* -- card -- */
.gallery-content .card-g-container .card {
    position: relative;
    text-align: center;
}

/* card img */
.gallery-content .card-g-container .card .card-g-img img {
    width: 300px;
    height: 100%;
}
/* ===== Gallery end ===== */

/* ===== Contact ===== */
.contact-content {
    padding: 30px;
    color: #ccc;
}

/* -- h1 -- */
.contact-content h1 {
    text-align: center;
    margin-bottom: 50px;
}

/* -- alamat -- */
.contact-content .alamat {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 10px;
}

.contact-content .alamat .info {
    text-align: center;
}

.contact-content .alamat .info .icon i {
    font-size: 20px;
    color: #F44336;
    margin-bottom: 10px;
}

.contact-content .alamat .info .text p {
    font-size: 11px;
}

.contact-content .alamat .info .text p span {
    font-weight: 700;
}

/* -- form -- */
.form-contact-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #F44336;
    margin: 0 10%;
    min-height: 450px;
}

.form-contact-container form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 20px;
    width: 55%;
}

.form-contact-container form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: "poppins", sans-serif;
}

.form-contact-container form input {
    padding: 0.5rem 0;
    background: transparent;
    border-bottom: 1px solid #F44336;
    font-family: "poppins", sans-serif;
    color: #ccc;
}

/* -- Name & Email -- */
.form-contact-container .name-email {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

/* -- Name -- */
.name-email .name {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* -- Email -- */
.name-email .email {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* -- Object -- */
.contact-row .object {
    display: flex;
    flex-direction: column;
}

/* -- Messege -- */
.contact-row .message {
    display: flex;
    flex-direction: column;
}

.message textarea {
    padding: 0.5rem 0;
    background: transparent;
    border-bottom: 1px solid #F44336;
    width: auto;
    height: 100px;
    min-height: 100px;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    resize: vertical;
    color: #ccc;
}

/* -- Button -- */
.form-contact-container button {
    padding: 0.8rem 1rem;
    border-radius: 6px;
    background-color: #F44336;
    transition: all 0.3s ease;
    position: relative;
}

.form-contact-container button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.3);
    z-index: 10;
}

/* Image */
.contact-img {
    width: 50%;
}

.contact-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ===== Contact end ===== */
/* ===== Content layout end ===== */
